<ion-header>
  <ion-toolbar>
    <ion-title>Setup Package</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf='isBusy' type="indeterminate"></ion-progress-bar>  
  <ion-item *ngIf='successMessage' color='success'>
    <ion-label>
      {{ successMessage }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf='infoMessage' color='secondary'>
    <ion-label>
      {{ infoMessage }}
    </ion-label>
  </ion-item>
  <ion-item *ngIf='errorMessage' color='danger'>
    <ion-label>
      {{ errorMessage }}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Visitor <ion-text color="danger">*</ion-text></ion-label>
    <ion-button (click)="assignVisitor()">Assign Visitor</ion-button>
  </ion-item>
  <ion-item> 
    <ion-label>Start Date <ion-text color="danger">*</ion-text></ion-label>
    <ion-datetime [(ngModel)]="startDate" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" placeholder='{{placeholderDate}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End Date <ion-text color="danger">*</ion-text></ion-label>
    <ion-datetime [(ngModel)]="endDate" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" placeholder='{{placeholderDate}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Physical Access <ion-text color="danger">*</ion-text></ion-label>
    <ion-select [(ngModel)]="roomIdString">
      <ion-select-option value="" selected>None</ion-select-option>
      <ion-select-option value="0">Lobby</ion-select-option>
      <ion-select-option value="1">Offices</ion-select-option>
      <ion-select-option value="2">Labs</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Give WiFi Access</ion-label>
    <ion-checkbox [(ngModel)]="giveWiFi"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Spending Limit</ion-label>
    <ion-input [(ngModel)]="limit" type="number" inputmode='numeric' placeholder='100.00'></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" fill="outline" (click)='onSubmit()'>Create Package</ion-button>
</ion-content>
