<ion-content padding>
    
    <ion-item color='secondary' *ngIf='!hasCard'>
      <ion-label text-wrap> Your business card hasn't been loaded yet. Log in to load business card, or tap Refresh in the menu if you are logged in. </ion-label>
    </ion-item>

    <ion-card *ngIf='card'>
      <ion-card-header>
        <ion-card-title> {{ card.companyName }} </ion-card-title>
      </ion-card-header>    
      <ion-card-content>
        <ion-item>
          <ion-label><ion-icon name="contact"></ion-icon> {{ card.employeeName }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="call"></ion-icon>&nbsp;<a href="tel:{{card.contactNumber}}">{{ card.contactNumber }}</a></ion-label>
        </ion-item>
        <ion-item>
            <ion-label><ion-icon name="mail"></ion-icon>&nbsp;<a href="mailto:{{card.email}}">{{ card.email }}</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="globe"></ion-icon>&nbsp;<a href="{{card.website}}">{{ card.website }}</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="pin"></ion-icon>&nbsp;<a (click)="navigate(card.location)">{{ card.location.label }}</a></ion-label>
        </ion-item>
        <br>
        <ion-button expand="block" fill="outline" (click)="shareCard()">Share (NFC)</ion-button>
        <ion-button expand="block" fill="outline" (click)="showQrCode()">Share (QR Code)</ion-button>

        <ion-input *ngIf='encodedData' type="text" [(ngModel)]="encodedData"></ion-input> 
      </ion-card-content>
    </ion-card>
</ion-content>
