<ion-content padding >
    
    <ion-item color='secondary' *ngIf='!hasPackages'>
      <ion-label text-wrap> No visitor packages have been shared with you yet, or the packages have been deleted/expired. </ion-label>
    </ion-item>

    <ion-list *ngIf='packages.length != 0'>
      <ion-list-header color="light">
        Active Packages:
      </ion-list-header>
      <ion-card *ngFor="let package of activePackages | filter: 'companyName': filterService.getFilter()">
          <ion-card-header (click)='toggleDetails(package.packageId)'>
            <ion-card-title>
              <ion-icon color='success' name="calendar"></ion-icon> {{ package.companyName }}
              <ion-icon *ngIf='detailToggles != [] && detailToggles[package.packageId]' class="icon" name="trash" (click)='$event.stopPropagation(); removeVisitorPackage(package.packageId)'></ion-icon>
              <ion-icon *ngIf='detailToggles != [] && detailToggles[package.packageId]' class="icon" name="refresh" (click)='$event.stopPropagation(); refreshVisitorPackage(package.packageId)'></ion-icon>
              <ion-icon class="icon" name="unlock" (click)='$event.stopPropagation(); unlock(package.packageId)'></ion-icon>
              <ion-icon *ngIf='package.spendingLimit !== null' class="icon" name="card" (click)='$event.stopPropagation(); pay(package.packageId)'></ion-icon>
            </ion-card-title>
            <ion-card-subtitle *ngIf='detailToggles == [] || !detailToggles[package.packageId]'>{{ displayDate(package.startDate) }} to {{ displayDate(package.endDate) }}</ion-card-subtitle>
          </ion-card-header>     
          <ion-card-content *ngIf='detailToggles != [] && detailToggles[package.packageId]'>
            <ion-item>
              <ion-label><ion-icon name="time"></ion-icon> From: {{ displayDate(package.startDate) }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="time"></ion-icon> To: {{ displayDate(package.endDate) }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="home"></ion-icon> {{ package.access }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon>&nbsp;<a (click)="navigate(package.location)">{{ package.location.getLabel() }}</a></ion-label>
            </ion-item>
            <ion-item *ngIf='package.spendingLimit !== null'>
              <ion-label><ion-icon name="card"></ion-icon> Virtual Wallet: {{ package.amountSpent }} / {{ package.spendingLimit }}</ion-label>
            </ion-item>
            <ion-item *ngIf='package.wifiSsid !== null'>
              <ion-button expand="block" fill="outline" (click)='connectToWiFi(package.wifiSsid, package.wifiPassword, package.wifiType)'>Connect To WiFi</ion-button>
            </ion-item>
          </ion-card-content>
      </ion-card>
      <ion-list-header color="light">
        Inactive Packages:
      </ion-list-header>
      <ion-card *ngFor="let package of inactivePackages | filter: 'companyName': filterService.getFilter()">
          <ion-card-header (click)='toggleDetails(package.packageId)'>
            <ion-card-title>
              {{ package.companyName }}
              <ion-icon *ngIf='detailToggles != [] && detailToggles[package.packageId]' class="icon" name="trash" (click)='$event.stopPropagation(); removeVisitorPackage(package.packageId)'></ion-icon>
              <ion-icon *ngIf='detailToggles != [] && detailToggles[package.packageId]' class="icon" name="refresh" (click)='$event.stopPropagation(); refreshVisitorPackage(package.packageId)'></ion-icon>
            </ion-card-title>
            <ion-card-subtitle *ngIf='detailToggles == [] || !detailToggles[package.packageId]'>{{ displayDate(package.startDate) }} to {{ displayDate(package.endDate) }}</ion-card-subtitle>
          </ion-card-header>     
          <ion-card-content *ngIf='detailToggles != [] && detailToggles[package.packageId]'>
            <ion-item>
              <ion-label><ion-icon name="time"></ion-icon> From: {{ displayDate(package.startDate) }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="time"></ion-icon> To: {{ displayDate(package.endDate) }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="home"></ion-icon> {{ package.access }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="pin"></ion-icon>&nbsp;<a (click)="navigate(package.location)">{{ package.location.getLabel() }}</a></ion-label>
            </ion-item>
            <ion-item *ngIf='package.spendingLimit !== null'>
              <ion-label><ion-icon name="card"></ion-icon> Virtual Wallet: {{ package.amountSpent }} / {{ package.spendingLimit }}</ion-label>
            </ion-item>
          </ion-card-content>
      </ion-card>
    </ion-list>

    <br>
    <ion-button expand="block" fill="outline" (click)='addVisitorPackage()'>Receive Package</ion-button>
</ion-content>
