<ion-header>
  <ion-toolbar>
    <ion-title>
      View Business Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-button expand="block" fill="outline" (click)='addCard()'>Add Business Card</ion-button>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
        <ion-card *ngFor="let card of cards">
            <ion-card-header>
              <ion-reorder class="reorder"></ion-reorder>
              <ion-icon class="trash" name="trash" (click)='removeCard(card.companyName)'></ion-icon>
              <ion-title (click)='toggleDetails(card.companyName)'>{{ card.companyName }}</ion-title>
            </ion-card-header>     
            <ion-card-content *ngIf='detailToggles != [] && detailToggles[card.companyName]'>
              <ion-item>
                <ion-label><ion-icon name="contact"></ion-icon> {{ card.employeeName }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="call"></ion-icon> {{ card.contactNumber }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="mail"></ion-icon> {{ card.email }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="pin"></ion-icon> {{ card.location }}</ion-label>
              </ion-item>
            </ion-card-content>
        </ion-card>
      </ion-reorder-group>
    </ion-list>
</ion-content>
