<ion-header>
  <ion-toolbar>
    <ion-title>
      View Business Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-button expand="block" fill="outline" (click)='addCard()'>Add Business Card</ion-button>
    <ion-item color='secondary' *ngIf='info_message !== null'>
      <ion-icon name="information-circle"></ion-icon> {{ info_message }}
    </ion-item>
    <ion-item color='success' *ngIf='success_message !== null'>
      <ion-icon name="checkmark-circle"></ion-icon> {{ success_message }}
    </ion-item>
    <ion-item color='danger' *ngIf='error_message !== null'>
      <ion-icon name="close-circle"></ion-icon> {{ error_message }}
      <br>
      <ion-button color="light" (click)='retry()'>Settings</ion-button> 
    </ion-item>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
        <ion-card *ngFor="let card of cards">
            <ion-card-header>
              <ion-reorder class="reorder"></ion-reorder>
              <ion-icon class="trash" name="trash" (click)='removeCard(card.companyId)'></ion-icon>
              <ion-title (click)='toggleDetails(card.companyId)'>{{ card.companyName }}</ion-title>
            </ion-card-header>     
            <ion-card-content *ngIf='detailToggles != [] && detailToggles[card.companyId]'>
              <ion-item>
                <ion-label><ion-icon name="contact"></ion-icon> {{ card.employeeName }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="call"></ion-icon> {{ card.contactNumber }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="mail"></ion-icon> {{ card.email }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="globe"></ion-icon> {{ card.website }}</ion-label>
              </ion-item>
            </ion-card-content>
        </ion-card>
      </ion-reorder-group>
    </ion-list>
</ion-content>
