<ion-header>
  <ion-toolbar>
    <ion-title>
      Setup Business Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-item *ngIf='success' color='success'>
    <ion-label>
      {{ success }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Company Name</ion-label>
    <ion-input [(ngModel)]='cname'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Employee Name</ion-label>
    <ion-input [(ngModel)]='ename'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contact Number</ion-label>
    <ion-input [(ngModel)]='cell'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input [(ngModel)]='email'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <ion-input [(ngModel)]='loc'></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" fill="outline" (click)='SetCard()'>Set Business Card</ion-button>
</ion-content>
